@charset "utf-8";
/* CSS Document */

/*body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}*/


body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}



main {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  width: 100%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

/*#maincontent{
  display: flex;
  flex-wrap: wrap;
}*/

.star{
  background-color: #FFC107;
  margin-left: 1em;
}


body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
}
/*ul, li {
  display: flex;
  flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}*/
a {
  /*color: orange;*/
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
/*article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}*/

picture{
  display: flex;
  width: 100%;
  height: 100%;
}

picture img{
  object-fit: cover;
  height: auto;
  width: 100%;
}


#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #d6d6d6;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  padding-top: 25px;
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    /*width: calc(50% - 80px);*/
}

/* Display list items side by side */
/*#breadcrumb li {
    display: inline;
}*/

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #3f51b5;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map-container{
  width: 100%;
  height: 30em;
  padding: 1em;
}

#static-map{
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {

  background-color: #3f51b5;
  /*align-items: center;*/
  padding: 1em;
  margin: 1em;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  padding: 0.5em;
  margin: 0 20px;

}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: .5em;
  padding: 0 10px;
  width: calc((100% - 2.5em)/2);
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 30px 15px 60px;
  text-align: center;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;

  padding: 0 30px 25px;
  text-align: left;
  width: calc((100% - 282px)/3);

}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%;
  height: auto;
}
#restaurants-list li h1 {
  width: 100%;
  display: block;
  color: rgb(63,81,181);
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  display: block;
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a .star{
  background-color: #FFC107;
  margin-left: 1em;
}

a .star{
  background-color: #FFC107;
  margin-left: 1em;
}

#restaurants-list li a {
  
  color: #fff;
  display: block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 10px 16px 1px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}


/* ====================== Restaurant Details ====================== */
.inside{
  display: flex;
  flex-wrap: wrap;
}

.inside nav{
  display:flex;
}

.inside header {
  display: flex;
  flex-wrap: wrap;
  /*position: fixed;*/
  order: 0;
  width: 100%;
 
}

.inside #maincontent{

  margin-top: 2em;
}

.inside #breadcrumb{
  width: 100%;
}

.inside #restaurant-container{
  display: flex;
  flex-wrap: wrap;
  order: 2;
  width: 40%;
  max-height: 50em;
}
.inside #map-container {
  display: flex;
  flex-wrap: wrap;
  order: 1;
  width: 100%;
  height: 20em;
}
.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}
.inside #footer {
  order: 10;
  bottom: 0;
  width: 100%;
}
#restaurant-name {
  color: rgb(63,81,181);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}
#restaurant-img {
  width: 100%;
  height: auto;
}
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}
#restaurant-cuisine {

  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

/*#review-form{
  padding: 1.5em 1em 1em 1em;
  width: 45%;
  order: 3
}*/

#restaurant-container{
  /*border-bottom: 1px solid #d9d9d9;*/
  /*border-top: 1px solid #fff;*/
  padding: 3em 3em 1em;
  width: 50%;
  
}

/*========================= Reviews ==============================*/

#reviews-title {
  color: rgb(63,81,181);
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  line-height: 1.1;
}

#reviews-container {
  padding: 3em 1em 1em 1em;
  order: 3;
  width: 45%
}

#reviews-view {
  margin-top: 2em;
}

#form-name, #form-rating, #form-comment{
  width: 100%
}

#form-comment{
  height: 100px;
}

#form-submit{
  padding: 0.5em 2em 0.5em 2em;
  margin: 0.5em 0em 0em 0em
}

#reviews-view h3 {
  color: rgb(63,81,181);
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 1em;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

#footer a{
  color: #FFC107;
}

@media screen and (max-width: 550px){
  #restaurants-list li{
    width: 100%;
  }

  .filter-options select{
    width: 97%;
  }

  #map-container{
    height: 20em;
  }

  #restaurants-list li a{
    font-size: 12pt
  }

  #restaurants-list li h1{
    font-size: 17pt
  }

  #restaurants-list p{
    display: flex;
    width: 100%
  }

  .filter-options h2{
    font-size: 15pt;
  }
}

@media screen and (min-width: 550px) and (max-width: 850px){
  #restaurants-list li{
    width: calc((100% - 188px)/2);
  }
}

@media screen and (min-width: 1100px){
  main{
    width: 1100px;
  }
}

@media screen and (min-width: 450px) and (max-width: 750px){
  .inside #restaurant-container{
    width: 100%;
    padding: 3em;
    order: 1;
  }

  #reviews-container{
    width: 100%;
  }

  .inside #map-container{
    order: 2;
  }

  #reviews-view{
    width: 100%;
    padding: 3em;
  }

  #restaurant-name{
    width: 100%;
  }

  #res-info1{
    width:50%;
    order: 1;
  }

  #res-info2{
    width:50%;
    order: 2;
  }
}

@media screen and (max-width: 450px){
  .inside #restaurant-container{
    width: 100%;
    padding: 3em;
    order: 1;
  }

  .inside #map-container{
    order: 2;
  }

  #reviews-container{
    width: 100%;
    padding: 3em;
  }

  #restaurant-name{
    width: 100%;
  }

  #res-info1{
    width:100%;
    order: 1;
  }

  #res-info2{
    width:100%;
    order: 2;
  }

  .insdie #map-container{
    height: 15em;
  }
}



/* Code for material button */
.btn {
  position: relative;

  display: block;
  margin: 20px auto 10px auto;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: #3f51b5;
  color: #ecf0f1;
  
  transition: background-color .3s;

}

.btn:hover, .btn:focus {
  background-color: #3f51b5;
}

.btn > * {
  position: relative;
}

.btn span {
  display: block;
  padding: 12px 24px;
}

.btn:before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.btn:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}



/* =============================== Snackbar ===================================*/
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}